.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
}

.book--linkBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book--img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.book--authors {
    max-width: 150px;
}

.book--remove {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.book--remove:hover {
    font-weight: bold;
}